@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin:0;
    background-color: #0C2F50;
  
  
  }
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  ul {
    margin: 0;
    padding: 0;
  
  }
  
  /* code for header*/
  header {
    background-color: #FFF;
    color: #0C2F50;
    padding-top: 30px;
    min-height: 50px;
    border-bottom: #32A0C2;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  header a {
    color: #0C2F50;
    text-decoration: none;
    font-size: 16px;
  }
  
  header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    text-align: center;
  }
  header #Title {
  float: left;
  padding-left: 25px;
  }
  
  header #Title h1 {
    margin: 0;
  
  }
  header nav {
    float: right;
    margin-top: 10px;
  }
#TitleRibbon{
    background-color:#0C2F50;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 500px;
}
#TitleRibbon h1{
    color: #FFF;
    top: 100px;
    bottom: 100px;
}
#TitleImg{
    padding-left: 255px;
    z-index: -1;
}
#TitleSection{
    background-color: black;
    
}
  